---
title: 'Verification'
description: 'API Reference documentation for Verification in the @vitabletech/gbp-sdk.'
---

[**@vitabletech/gbp-sdk**](../index.md)

---

## Properties

### createTime

> **createTime**: `string`

---

### method

> **method**: [`VerificationMethod`](../enumerations/VerificationMethod.md)

---

### name

> **name**: `string`

---

### state

> **state**: [`VerificationState`](../enumerations/VerificationState.md)
